body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}